@import '../../styles/mixins';

#featured-container{
    background-color: white;
   
}

#border-color{
    border-color:#db7d7d;
}

#card-image{
   Width: 10rem;
   height :15rem;
   border-radius: 1.5rem;


}

#button-color{
    background-color: #D32F2F;
}