@import '../../styles/mixins';

#n-container{
    background-color: #37474F;
    min-height: 5rem;
    box-shadow: 0 0.01rem 0.5rem;
    

}

#txt-clr{
    color: #f2f2f2;
}




#nav-items{
 display: flex;   
}

#items{
    
    align-items: right;
}
