@import '../../styles/mixins';

#slider-container{
    height: 22rem; 
}

#pro-settings{
    height : 5rem !important;
    width: 5rem !important;
}

#review{
    height:5rem;
    width:10rem;
}

#r-div{
    width:30rem;
    height:20rem;
    
}

