@import '../../styles/mixins';

#l-mod{
   width: 20rem;
   height : 15rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#mod-settings{
    height: 30rem;
    display: flex;
   flex-direction: column;
   justify-content: center;
}

#mod1-settings{
    width: 30rem;
    
}

#input-sizing{
    width:20rem;
    height:2.5rem;
}

#link-textcolor{
    text-decoration: none;
    color: black;
}