@import '../../styles/mixins';

#nv-container{
    background-color: #37474F;
    min-height: 5rem;
    box-shadow: 0 0.01rem 0.5rem;
}

#txt-clr{
    color: #f2f2f2;
}


#search-container
{
background-color: black;
height: 30rem !important;
display: flex;
flex-direction: column;
justify-content: center;
}

#search-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
   
}

#search-input{
     height: 3.7rem;
     font-size: 1.2rem;
     width: 30rem;
     
}

#search-button{
    background-color: #D32F2F;
    color:#f2f2f2;
    height: 3.7rem;
    width: 6rem;    
}

#featured-container{
    background-color: white;


}

#crd{
   width:15rem;
}



#caro{
    height: 30rem !important;
    width: max !important;
}

#card-image{
   Width: 10rem;
   height :15rem;
   border-radius: 1.5rem;


}

#border-color{
    border-color:#db7d7d;
}

#view-profile{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

}

#button-color{
    background-color: #D32F2F;
}

#signup-content{
     display: flex;
  flex-direction: row;
  justify-content: flex-end;
   
}
