@import '../../styles/mixins';

.trainer-bio-bio-profile-picture {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
width: 4rem;
}

#profile-picture{
    height: 15rem;
    width: 15rem;
}
