@import '../../styles/mixins';

.trainer-bio-bio-profile-header {

}

#profile-header{
background-color: black;
height: 40rem !important;


}

#row-height{
    height: 35rem !important;
  
}

#profile-picture{
    height: 15rem;
    width: 15rem;
}

.text-margin{
    margin:0
}



.text-color{
    color: white;
}

