@import '../../styles/mixins';

.trainer-bio-bio-profile-header {

}

#profile-header{
background-color: white;
height: 35rem !important;


}

#row-height{
    height: 27rem !important;
  }

.text-color{
    color: black;
}

.size{
    height:20rem;
}
