@import '../../styles/mixins';

.trainer-bio-bio-profile-header {

}

#profile-header{
background-color: black;
height: 30rem !important;


}

#row-height{
    height: 30rem !important;
}

#profile-picture{
    height: 15rem;
    width: 15rem;
}

.text-margin{
    margin:0
}

#review-container{
    height: 5rem;
}